- var imgPath = '/assets/images/';
- var svgPath = '/assets/images/svg/';
- var pageTitle = 'Нагробуст'

doctype html
html.no-js(lang="ru")
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=1000')
		
		title= pageTitle
		meta(name='description', content="")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")

		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700')

		// build:css /assets/styles/vendor.css
		// bower:css
		link(rel='stylesheet', href='../bower_components/normalize-css/normalize.css')
		link(rel='stylesheet', href='../bower_components/owl.carousel/dist/assets/owl.carousel.css')
		link(rel='stylesheet', href='../bower_components/owl.carousel/dist/assets/owl.theme.green.css')
		link(rel='stylesheet', href='../bower_components/magnific-popup/dist/magnific-popup.css')
		link(rel='stylesheet', href='../bower_components/fullpage.js/jquery.fullPage.css')
		// endbower
		// endbuild

		// build:css /assets/styles/main.css
		link(rel='stylesheet' href='assets/styles/main.css')
		// endbuild
		
		// build:js /assets/scripts/modernizr.js
		script(src='/../bower_components/modernizr/modernizr.js')
		// endbuild
	
	body.b-page
		.b-page__header
			.b-header.js-header
				span.b-header__phone 8 (800) 700-53-62
				span.b-header__slash /
				a.b-header__callback.js-show-modal(href='#js-m-callback') Заказать звонок
		
		.b-page__sidebar
			.b-sidebar
				.b-sidebar__logo
					img.b-logo(src="#{imgPath}logo.png")
					.b-sidebar__slogan Универсальная топливная система

				.b-sidebar__toggle
					a(href='#').b-toggle.js-menu-toggle
						.b-toggle__line
						.b-toggle__line
						.b-toggle__line

				.b-sidebar__menu
					.b-menu
						a.b-menu__item.js-move-to(href='#', data-section='1') Главная 	
						a.b-menu__item.js-move-to(href='#', data-section='2') Выгода
						a.b-menu__item.js-move-to(href='#', data-section='8') Видео
						a.b-menu__item.js-move-to(href='#', data-section='3') Калькулятор
						a.b-menu__item.js-move-to(href='#', data-section='6') Отзывы
						a.b-menu__item.js-move-to(href='#', data-section='7') Контакты

				.b-sidebar__footer
					a.b-sidebar__link.js-move-to(href='#', data-section='5') Сертификаты
					a.b-sidebar__link.js-move-to(href='#', data-section='5') Документы
					br
					a.b-sidebar__link(href='/nagroboost_2016.pptx') Презентация
						img(src="#{imgPath}icon-download.png")
					.b-sidebar__copy &copy; 2016 “NagroBoost”


		.b-page__content#fullpage
			include /assets/layouts/home

			include /assets/layouts/whom

			include /assets/layouts/calc

			include /assets/layouts/capability

			include /assets/layouts/certification

			include /assets/layouts/reviews

			include /assets/layouts/partners

			include /assets/layouts/use


		.b-window.b-window--callback.mfp-hide#js-m-callback
			.b-window__content
				.b-window__form
					form.b-form.js-form-callback#form-callback(action="/ajax/form-callback/", method="post", data-id='callback')
						.b-form__fieldset.b-form__fieldset--colum
							.b-form__error.js-error-callback
							.b-form__group.b-form__group--line
								input.b-input.b-input--white.b-input--icon#i-name--callback(name="name", type="text", placeholder="Имя")
	
							.b-form__group.b-form__group--line
								input.b-input.b-input--white.b-input--icon#i-phone--callback(name="phone", type="text", placeholder="Телефон", required)
	
							.b-form__button
								button.b-button.b-button--send(type='submit') Отправить

						.b-form__success.js-success-callback Спасибо! Ваша заявка отправлена.

		.b-window.b-window--delivery.mfp-hide#js-m-delivery
			.b-window__content
				.b-delivery-window
					.b-delivery-window__title Условия доставки
					.b-delivery-window__list
						.b-delivery-window__item
							img(src="#{imgPath}icon-delivery-1.png")
							p оформить заявку
						.b-delivery-window__item
							img(src="#{imgPath}icon-delivery-2.png")
							p доставка почтой или курьером
						.b-delivery-window__item
							img(src="#{imgPath}icon-delivery-3.png")
							p получить и оплатить
					.b-delivery-window__content
						p Время приема заявок через форму заказа на сайте: ежедневно, круглосуточно.
						p Время приема звонков и консультации по телефону: ежедневно с 10-00 до 21-00 
						p Доставка курьером по Москве за 1 день!
						p Доставка по России от 3 до 14 дней!
						p Все заказы отправляем ускоренной почтой (бандероль 1-го класса) или курьером.
						p Оплата осуществляется в почтовом отделении или курьеру при получении заказа.

		.b-window.b-window--whom.mfp-hide#js-m-whom
			.b-window__content
				.b-whom-window
					p Данная присадка работает с любым типом транспорта.
					p Главным условием является наличие двигателя, работающего на бензиновом или дизильном топливе.

					a.b-button.b-button--window.js-show-modal(href='#js-m-callback') Заказать

		.b-window.b-window--calc.mfp-hide#js-m-partners
			.b-window__content
				.b-whom-window
					.b-partners__list
						.b-partners__item
							h3 Республика Хакасия
							p
								b Региональный представитель
							p Соломенцев Сергей Александрович Моб.:8(902)990 43 45 е-mail: elsib777@mail.ru
						.b-partners__item
							h3 Иркутская область
							p
								b Региональный представитель
							p Соломенцев Сергей Александрович Моб.:8(902)990 43 45 е-mail: elsib777@mail.ru
						.b-partners__item
							h3 Красноярский край
							p
								b Региональный представитель
							p Соломенцев Сергей Александрович Моб.:8(902)990 43 45 е-mail: elsib777@mail.ru
						.b-partners__item
							h3 Челябинск
							p
								b Региональный представитель
							p Региональный представитель Александр Батрак <br> тел.: +79128923332, e-mail:  aleksbatrak@gmail.com
						.b-partners__item
							h3 Рязань
							p
								b Региональный представитель
							p Региональный представитель Николай Георгиевич <br>тел.: +79605766032
						.b-partners__item
							h3 Махачкала
							p
								b Региональный представитель
							p Региональный представитель Равиль Мустафин <br> тел.: +79288341410 e-mail: info@solneft.ru
						.b-partners__item
							h3 Казань
							p
								b Региональный представитель
							p Региональный представитель Гариф Шайдулович <br>тел. +79297292916, эл.почта: ggarif@yandex.ru
						.b-partners__item
							h3 Воронеж
							p
								b Региональный представитель
							p Региональный представитель Гребенкин Дмитрий<br>тел. +79107324332, эл.почта: gdn2006@mail.ru
						.b-partners__item
							h3 Крым, г. Симферополь
							p
								b Региональный представитель
							p Региональный представитель Пилип Сергей<br>тел.: +7 978 790 81 07 -МТС, е-mail: nagro.crimea@mail.ru
						.b-partners__item
							h3 Ставропольский край
							p
								b Региональный представитель
							p Региональный представитель Никитин Владислав <br>тел.: +7 928 651 22 29, эл.почта: agro-bars@mail.ru
						.b-partners__item
							h3 Ростов на Дону
							p
								b Региональный представитель
							p Региональный представитель Емельянов Андрей <br>тел.: +7 938 109 30 40, эл.почта: ygygyg777@mail.ru
						.b-partners__item
							h3 Саранск
							p
								b Региональный представитель
							p Региональный представитель Куликов Вячеслав <br>тел.: +7964 853 29 90, эл.почта: 310314@mail.ru
						.b-partners__item
							h3 Оренбург
							p
								b Региональный представитель
							p Региональный представитель Якупов Эльдар, <br>тел.: +79033921083, эл.почта: oil.056@mail.ru 
						.b-partners__item
							h3 Астрахань
							p
								b Региональный представитель
							p Региональный представитель Голеухина Татьяна<br>тел.: +7 927 282 58 95, эл.почта: infoapril@yandex.ru
						.b-partners__item
							h3 Москва
							p
								b Региональный представитель
							p - Москва, Киевское шоссе д. 1 (Бизнес Центр Румянцево), корпус Е, офис 515Е
								br
								| 8 800 700 53 62 <p>- ООО "Сол Нефтепродукт" Байбиков Рамиль  моб.: 8 (903) 531 19 38 е-mail: info@solneft.ru
								br
								| магазин:  Москва,&nbsp;проспект&nbsp;Андропова, дом 22, строение 2, Ежедневно  с 9 до 20 <br>  магазин:  м.Юго-Западная,&nbsp;Румянцево, Саларьево, Москва,&nbsp;Киевское шоссе, 1&nbsp;км, 
								br
								| ТК «Автомастер», Г17, Ежедневно  с 9 до 20 <p>- Магазин УАЗ<br>  Адрес: Москва, Щербинка,&nbsp;Симферопольское шоссе,&nbsp;16
								br
								| тел.:&nbsp;+7 495 505 62 49, режим работы ежедневно с 9.00 до 21.00<p>- Ideal Car Parts<br>  Адрес: г.  Подольск,&nbsp;ул. Правды, 34 (у ГАИ)<br>  +7 909 999 70 97 Александр
						.b-partners__item
							h3 Санкт-Петербург
							p
								b Региональный представитель
							p Региональный представитель Аминов Бехзод<br>тел. +78129953009, эл.почта: bekhzod.aminov@rts-shipping.com

		.b-window.b-window--calc.mfp-hide#js-m-calc
			.b-window__content
				.b-whom-window
					table.nargo_table
						tr
							th № п/п
							th Марка, модель атомобиля
							th Тип двигателя
							th Объем двигателя, л/л.с.
							th Цикл вождения
							th Расход без присадки "NagroBoost" л/100км
							th Расход с присадкой "NagroBoost" л/100км
						tr
							td 1
							td Rang Rover, Sport
							td Дизель
							td 3,6/275
							td Городской
							td 17-18
							td 13-14
						tr
							td  
							td Rang Rover, Sport
							td Дизель
							td 3,6/275
							td Трасса
							td 13
							td 11
						tr
							td 2
							td Huyndai, Genesis
							td Бензин - 95
							td 3,0/249
							td Смешанный
							td 15,5-17
							td 12-13
						tr
							td  
							td Huyndai, Genesis
							td Бензин - 95
							td 3,0/249
							td Трасса
							td 13
							td 10,5
						tr
							td 3
							td Huyndai, Solaris
							td Бензин - 92
							td 1,6/123
							td Смешанный
							td 9-9,5
							td 7,5-8
						tr
							td 4
							td WV, Caravella (бронированная)
							td Дизель
							td 2,0
							td Городской
							td 20
							td 17,7
						tr
							td 5
							td WV, Caddy
							td Дизель
							td 2,0
							td Смешанный
							td 10
							td 8,3
						tr
							td 6
							td Lexus, 460 GX
							td Бензин - 95
							td 4,6
							td Городской
							td 20
							td 15,4
						tr
							td 7
							td Mazda 3
							td Бензин - 95
							td 1,6
							td Городской
							td 11
							td 9,1
						tr
							td 8
							td Lada Niva
							td Бензин - 92
							td 1,7
							td Смешанный
							td 11,4
							td 9,3
						tr
							td 9
							td BMW 3
							td Бензин - 95
							td 2,0/136
							td Смешанный
							td 11
							td 9,1
						tr
							td 10
							td Mercedes, E 230
							td Бензин - 95
							td 2,5/204
							td Смешанный
							td 20,6
							td 18,7
						tr
							td 11
							td Lada, Largus
							td Бензин - 92
							td 1,6/86
							td Трасса
							td 9,0
							td 6,5
						tr
							td 12
							td Toyota Carola
							td Бензин - 95
							td 1,6/110
							td Трасса
							td 8,0
							td 6,2
						tr
							td 13
							td МАN седельный тягач
							td Дизель
							td -/370
							td Трасса
							td 34,0
							td 30,0-31,0

		script(src='http://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
		script.
			var ymap_coordinates = [47.242828, 39.8295959];

			var partners = [
				[55.42972, 37.54444, 'Владимир'],
				[53.5, 90.333, '<h3>Республика Хакасия</h3><p><b>Региональный представитель</b></p><p>Соломенцев Сергей Александрович Моб.:8(902)990 43 45 е-mail: elsib777@mail.ru</p>'],
				[57.367, 106.000, '<h3>Иркутская область</h3><p><b>Региональный представитель</b></p><p>Соломенцев Сергей Александрович Моб.:8(902)990 43 45 е-mail: elsib777@mail.ru</p>'],
				[59.883, 91.667, '<h3>Красноярский край</h3><p><b>Региональный представитель</b></p><p>Соломенцев Сергей Александрович Моб.:8(902)990 43 45 е-mail: elsib777@mail.ru</p>'],
				[55.16222, 61.40306, '<h3>Челябинск</h3><p><b>Региональный представитель</b></p><p>Региональный представитель Александр Батрак <br> тел.: +79128923332, e-mail:  aleksbatrak@gmail.com</p>'],
				[54.61667, 39.71667, '<h3>Рязань</h3><p><b>Региональный представитель</b></p><p>Региональный представитель Николай Георгиевич <br>тел.: +79605766032</p>'],
				[42.96667, 47.48333, '<h3>Махачкала</h3><p><b>Региональный представитель</b></p><p>Региональный представитель Равиль Мустафин <br> тел.: +79288341410 e-mail: info@solneft.ru</p>'],
				[55.79083, 49.11444, '<h3>Казань</h3><p><b>Региональный представитель</b></p><p>Региональный представитель Гариф Шайдулович <br>тел. +79297292916, эл.почта: ggarif@yandex.ru</p>'],
				[51.67167, 39.21056, '<h3>Воронеж</h3><p><b>Региональный представитель</b></p><p>Региональный представитель Гребенкин Дмитрий<br>тел. +79107324332, эл.почта: gdn2006@mail.ru</p>'],
				[44.94806, 34.10417, '<h3>Крым, г. Симферополь</h3><p><b>Региональный представитель</b></p><p>Региональный представитель Пилип Сергей<br>тел.: +7 978 790 81 07 -МТС, е-mail: nagro.crimea@mail.ru</p>'],
				[44.63333, 41.93333, '<h3>Ставропольский край</h3><p><b>Региональный представитель</b></p><p>Региональный представитель Никитин Владислав <br>тел.: +7 928 651 22 29, эл.почта: agro-bars@mail.ru</p>'],
				[47.242828, 39.8295959, '<h3>Ростов на Дону</h3><p><b>Региональный представитель</b></p><p>Региональный представитель Емельянов Андрей <br>тел.: +7 938 109 30 40, эл.почта: ygygyg777@mail.ru</p>'],
				[54.18333, 45.18333, '<h3>Саранск</h3><p><b>Региональный представитель</b></p><p>Региональный представитель Куликов Вячеслав <br>тел.: +7964 853 29 90, эл.почта: 310314@mail.ru</p>'],
				[51.7667, 55.1000, '<h3>Оренбург</h3><p><b>Региональный представитель</b></p><p>Региональный представитель Якупов Эльдар, <br>тел.: +79033921083, эл.почта: oil.056@mail.ru </p>'],
				[48.03333, 46.33333, '<h3>Астрахань</h3><p><b>Региональный представитель</b></p><p>Региональный представитель Голеухина Татьяна<br>тел.: +7 927 282 58 95, эл.почта: infoapril@yandex.ru</p>'],
				[55.75583, 37.61778, '<h3>Москва</h3><p><b>Региональный представитель</b></p><p>- Москва, Киевское шоссе д. 1 (Бизнес Центр Румянцево), корпус Е, офис 515Е<br>8 800 700 53 62 </p><p>- ООО "Сол Нефтепродукт" Байбиков Рамиль  моб.: 8 (903) 531 19 38 е-mail:<a href="mailto:info@solneft.ru">info@solneft.ru</a><br>  магазин:  Москва,&nbsp;проспект&nbsp;Андропова, дом 22, строение 2, Ежедневно  с 9 до 20 <br>  магазин:  м.Юго-Западная,&nbsp;Румянцево, Саларьево, Москва,&nbsp;Киевское шоссе, 1&nbsp;км, <br>ТК «Автомастер», Г17, Ежедневно  с 9 до 20 </p><p>- Магазин УАЗ<br>  Адрес: Москва, Щербинка,&nbsp;Симферопольское шоссе,&nbsp;16 <br>  тел.:&nbsp;+7 495 505 62 49, режим работы ежедневно с 9.00 до 21.00</p><p>- Ideal Car Parts<br>  Адрес: <strong>г.  Подольск,&nbsp;</strong>ул. Правды, 34 (у ГАИ)<br>  +7 909 999 70 97 Александр</p>'],
				[59.95000, 30.31667, '<h3>Санкт-Петербург</h3><p><b>Региональный представитель</b></p><p>Региональный представитель Аминов Бехзод<br>тел. +78129953009, эл.почта: bekhzod.aminov@rts-shipping.com</p>'],
			]
			
			ymaps.ready(function(){
				ymap = new ymaps.Map('ymap', {
					center: ymap_coordinates,
					zoom: 5,
					controls: [],
					autoFitToViewport: 'ifNull'
				});
				var zoomControl = new ymaps.control.ZoomControl({
				    options: {
				        size: "small",
				        position: {top: 100,right: 25}
				    }
				});
				ymap.controls.add(zoomControl);
				for(i = 0; i < partners.length; i++){
					var placemark = new ymaps.Placemark(
						[partners[i][0], partners[i][1]], 
						{
							balloonContent: partners[i][2]
						}, 
						{
							preset: 'islands#icon',
							iconColor: '#0095b6'
						}
					);
					ymap.geoObjects.add(placemark);
				}
			});

		// build:js /assets/scripts/vendor.js
		// bower:js
		script(src='../bower_components/modernizr/modernizr.js')
		script(src='../bower_components/jquery/dist/jquery.js')
		script(src='../bower_components/bootstrap/dist/js/bootstrap.js')
		script(src='../bower_components/jquery-form-styler/jquery.formstyler.min.js')
		script(src='../bower_components/fullpage.js/jquery.fullPage.js')
		script(src='../bower_components/fullpage.js/vendors/jquery.easings.min.js')
		script(src='../bower_components/fullpage.js/vendors/jquery.slimscroll.min.js')
		// endbower
		// endbuild
		
		// build:js /assets/scripts/plugins.js
		script(src="/../bower_components/magnific-popup/dist/jquery.magnific-popup.min.js")
		script(src="/../bower_components/fullpage.js/dist/jquery.fullpage.js")
		script(src="/../bower_components/owl.carousel/dist/owl.carousel.min.js")
		script(src="/../bower_components/jquery-form-styler/jquery.formstyler.js")
		script(src='/assets/scripts/serialize.jquery.js')
		// endbuild
		
		// build:js /assets/scripts/main.js
		script(src="/assets/scripts/main.js")
		// endbuild